<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Encapsulation</title>
</head>
<body>
      <h1> View Encapsolution  in Angular</h1>
      <div class="main">
        <div class="c">
          <app-comp1></app-comp1>
        </div> 
        
        <div class="c">
          <app-comp2></app-comp2>
        </div> 
  
          <app-comp3></app-comp3>
      </div>
      
      <!-- <h2 class="c"> Encapsolution : APP Component content </h2> -->

      
</body>
</html>